[submodule "metamath.vim"]
	path = metamath.vim
	url = https://github.com/marnix/metamath.vim.git
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim-wasm"]
	path = vim-wasm
	url = https://github.com/rhysd/vim-wasm.git
[submodule "julia-vim"]
	path = julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
