[Unit]
Description=Run gandi-update-AAAA every 3 hours

[Timer]
Unit=gandi-update-AAAA.service
OnUnitInactiveSec=3h

[Install]
WantedBy=timers.target
