[Unit]
Description=Continuous mdbook build %i

[Service]
WorkingDirectory=/home/jdh8/src/%i
ExecStartPre=/usr/bin/env mdbook build
ExecStart=/usr/bin/env mdbook watch
SyslogIdentifier=mdbook
DevicePolicy=closed
ProtectSystem=full
Nice=5

[Install]
WantedBy=default.target
