[Unit]
Description=Continuously build mdbook at %i

[Service]
WorkingDirectory=/home/jdh8/src/%i
ExecStartPre=/srv/var/jdh8/Cargo/bin/mdbook build
ExecStart=/srv/var/jdh8/Cargo/bin/mdbook watch
DevicePolicy=closed
ProtectSystem=full
Nice=5

[Install]
WantedBy=default.target
