[Unit]
Description=Natsuki, a Discord bot

[Service]
WorkingDirectory=/home/jdh8/src/natsuki
EnvironmentFile=/home/jdh8/src/natsuki/.env.prod
ExecStart=/home/jdh8/src/natsuki/target/release/natsuki
PrivateTmp=true
DevicePolicy=closed
ProtectSystem=full
Restart=always

[Install]
WantedBy=default.target
