[Unit]
Description=Shoginet - Distributed network for lishogi.org

[Service]
WorkingDirectory=/home/jdh8/src/shoginet
ExecStart=/usr/bin/node node_modules/.bin/tsx src/main.ts
PrivateTmp=true
DevicePolicy=closed
ProtectSystem=full
Nice=5
Restart=always

[Install]
WantedBy=default.target
